.comments {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer
}

#image {
    max-width: 550px;
}

#image2 {
    max-width: 550px;
}

#content {
    position: relative;
}

#content h4 {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.fa-thumbs-up {
    font-size: 25px;
    color: rebeccapurple;
}

.fa-thumbs-down {
    font-size: 25px;
    color: red;
}